html {
  height: 100%;
  width: 100%;
  background-color: rgb(196, 196, 187);


}

body {
  font-size: 175%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  font-family: "Dapifer Stencil Blackbe677b9701 Regular";
}

.entete {
  grid-column: 1 / 2;
  grid-row: 1;
  
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
}

.graphiques {
  grid-column: 2 / 2;
  grid-row: 1;
  margin-top: 255px;
  margin-left: 25%;
  margin-right: 100px
}

h4 {
  border-top: 1px solid black;
  padding-top: 20px;
}

footer {
  display: flex;
  font-size: 75%;
}

.intitule {


  padding-top: 100px;
  padding-left: 26%;
  white-space: nowrap;

}

.noms {
  width: 150px;
  margin-top: 75px;
  padding-left: 118%;
  white-space: nowrap;


}

button {
  background-color: rgb(37, 53, 81);
  color: white;
  height: 80px;
  width: 200px;
  border-radius: 30px;
}

img {
  grid-column: 2 / 3;
  grid-row: 1;
  height: 75px;
  margin-left: -10000000px;
  background-color: rgb(196, 196, 187);
}